<!DOCTYPE html>
<html>
  <body>
    <p>Hi <%= @user.user_name %>!</p>
    <p>Please click the link below to reset your password:</p>
    <a href="http://localhost:8000/login?reset-token=<%= @user.password_reset_token %>">Reset Password</a>
    <p><i>Note: This link will expire in 15 minutes.</i></p>
  </body>
</html>